<!-- =============== START ALBUM COVER SECTION ================ -->
<section class="padding albumsHome hide-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sectionTitle paddingBottom">
                    <span class="heading-t3"></span>
                    <h2><a href="albumsFullBackground.html">Discography</a></h2>
                    <span class="heading-b3"></span>
                </div>
                <!-- end sectionTtile -->
            </div>
            <!-- end col-sm-12 -->
        </div>
        <div class="list-albums">
            <ul class="list-feature col-md-12 col-xs-12 col-sm-12">
                {% for album in site.albums limit 4%}
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <div class="album-icon">
                        <span class="thumbs-album">
								<a href="{{album.links[0].url}}"><img width="270" height="270" src="{{album.picture | relative_url}}" class="attachment-album-thumbnail wp-post-image" alt="album-cover-1"></a>
							</span>
                        <span class="disk"></span>
                    </div>
                    <!-- END ALBUM ICON -->
                    <div class="name">
                        <h3>{{album.title}}</h3>
                        <p>{{album.type}}</p>
                    </div>
                    <!-- end name -->
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="sectionTitle paddingBottom paddingTop" style="padding-top: 5rem; padding-bottom: 5rem;">
                    <span class="heading-t3"></span>
                    <h2><a href="#">Podcasts</a></h2>
                    <span class="heading-b3"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="https://anchor.fm/dj-jose-sanchez" target="_blank" rel="noopener noreferrer"><img alt="Anchor Podcasts" width="130" height="40" src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3@2x.png 2x"></a>
                <a href="https://itunes.apple.com/lu/podcast/jose-sanchez/id1332772793" target="_blank" rel="noopener noreferrer"><img alt="Apple Podcasts" width="130" height="33" src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3@2x.png 2x"></a>
            </div>
        </div>

        <!-- end list-albums -->
    </div>
    <!-- end container -->
</section>
<!-- =============== END ALBUM COVER SECTION ================ -->
