<!-- =============== START EVENTS SECTION-2 ================ -->
<section class="padding hide-section countdownSection background-properties" style="background-image: url({{site.BASE_PATH}}/assets/img/events/countdownHome.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="countdownTitle">
                    <h4>Next Big Event</h4>
                    {% assign event = include.event %}
                    <a href="{{event.url}}"><img src="{{event.brand.logo | relative_url}}" alt="Event"></a>
                </div>
                <div class="sm-countdown sm_content_element sm-style2" id="sm_countdown-19" data-date="{{event.date | date: "%Y/%m/%d"}}">
                    <div class="displayCounter">
                        <div class="column">
                            <div class="sm_countdown_inner">
                                <input class="element days" readonly="readonly" data-min="0" data-max="365" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
                                <span class="unit days-title">days</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="sm_countdown_inner">
                                <input class="element hour" readonly="readonly" data-min="0" data-max="24" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
                                <span class="unit hours-title">hrs</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="sm_countdown_inner">
                                <input class="element minute" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
                                <span class="unit mins-title">min</span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="sm_countdown_inner">
                                <input class="element second" readonly="readonly" data-min="0" data-max="60" data-width="200" data-height="200" data-thickness="0.15" data-fgcolor="#fff" data-bgcolor="#8e8d8d" data-angleoffset="180">
                                <span class="unit secs-title">sec</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end sm-countdown -->
            </div>
        </div>
    </div>
</section>
<!-- =============== END EVENTS SECTION-2 ================ -->
