<!-- =============== START BREADCRUMB ================ -->
<section class="no-mb">
    <div class="row">
        <div class="col-sm-12">
            <div class="before-FullscreenSlider"></div>
            <div class="breadcrumb-fullscreen-parent phone-menu-bg">
                <div class="breadcrumb breadcrumb-fullscreen alignleft small-description overlay almost-black-overlay" style="background-image:radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),  url('{{site.BASE_PATH}}/assets/img/header/header.png');"">
                    <div class="breadTxt">
                        <h1>
                            {{page.title}}
                        </h1>
                        <p>
                            {{page.content}}
                        </p>
                        <a href="#content" data-easing="easeInOutQuint" data-scroll="" data-speed="900" data-url="false">
                            View More <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============== END BREADCRUMB ================ -->
