<!-- =============== START EVENTS SECTION-1 ================ -->
<section style="background-image: url({{site.BASE_PATH}}/assets/img/events/tableEventsHome.png);" class="background-properties hide-section paddingHomeEvents">
    <div class="tableEvents">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sectionTitle paddingBottom">
                        <span class="heading-t3"></span>
                        <h2><a href="#">Upcoming Gigs</a></h2>
                        <span class="heading-b3"></span>
                    </div>
                    <!-- end sectionTtile -->
                    <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script>
                    <a class="bit-widget-initializer" data-artist-name="DJ J. Sanchez" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#000000" data-link-color="#ff8800" data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-display-start-time="false" data-link-text-color="#FFFFFF" data-display-lineup="false" data-display-play-my-city="true" data-separator-color="rgba(255, 255, 255, 0.5)"></a>
                </div>
                <!-- end col-sm-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end tableEvents -->
</section>
<!-- =============== END EVENTS SECTION-1 ================ -->
