<!-- =============== START GALLERY SECTION ================ -->
<section style="padding-bottom:0; padding-top:0;" class="hide-section">
    <div class="gallerySection">
        <div class="container-fluid" style="padding:0;">
            <div class="col-sm-12">
                <!-- Content Container -->
                <div class="content-container clearfix">
                    <!-- Single Album Container -->
                    <div class="single-photo-album-container">
                        <div class="row">
                            <!-- Single Album Article -->
                            <article class="col-sm-12 col-md-6 col-xs-12">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <!-- Single Album Image -->
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/wide 2.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-40.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                    <!-- Single Album View Button -->

                                </figure>
                            </article>
                            <!-- Single Album Article -->
                            <article class="col-sm-3 col-xs-6">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/portrait.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-10.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- Single Album Article -->
                            <article class="col-sm-3 col-xs-6">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/portrait 4.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-60.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- Single Album Article -->
                            <article class="col-sm-3 col-xs-6">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/portrait 2.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-28.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- Single Album Article -->
                            <article class="col-sm-3 col-xs-6">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/portrait 3.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-25.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                            <!-- Single Album Article -->
                            <article class="col-sm-12 col-md-6 col-xs-12">
                                <!-- Single Album Contant Container -->
                                <figure>
                                    <!-- Single Album Image -->
                                    <figcaption>
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{site.BASE_PATH}}/assets/img/gallery/wide.png" alt="">
                                            <div class="overlay">
                                                <a class="info lightbox" href="{{site.BASE_PATH}}/assets/img/gallery/originals/Photo-4.jpg"></a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </div>
</section>
<!-- =============== END GALLERY SECTION ================ -->
