<head>
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{site.title}}</title>
    <link rel="icon" href="{{ site.BASE_PATH }}/assets/img/content/icon.png">
    <!-- ========== CSS INCLUDES ========== -->
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/master.css">
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/css/style.css">
</head>
