<!-- =============== START TOP HEADER ================ -->
<div class="topHeader">
    <div class="header">
        <div class="rightTopHeader">

            <!-- Open Menu Button -->
            <!-- <a class="open-menu"> -->
            <!-- Buttons Bars -->
            <!-- <span class="span-1"></span> -->
            <!-- <span class="span-2"></span> -->
            <!-- <span class="span-3"></span> -->
            <!-- </a> -->
        </div>
        <!-- end rightTopHeader -->
    </div>
    <!-- end header -->
    <!-- Menu Fixed Container -->
    <div class="menu-fixed-container">
        <!-- Menu Fixed Centred Container -->
        <nav>
            <!-- Menu Fixed Close Button -->
            <div class="x-filter">
                <span></span>
                <span></span>
            </div>
            <!-- Menu Fixed Primary List -->
            <ul>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="index.html">
							home
						</a>
                    <ul class="sub-menu">
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="index.html">
									home star
								</a>
                        </li>
                        <li>
                            <a href="index-royal-slider.html">
									home royal slider
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="index-video.html">
									home video
								</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{site.basePath}}/albums">
							discography
						</a>
                </li>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="events.html">
							events
						</a>
                </li>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="#">
							blog
						</a>
                    <ul class="sub-menu">
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="blogGrid.html">
									blog grid
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="blogSidebarRight.html">
									blog sidebar
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="blogSingle.html">
									blog single
								</a>
                        </li>
                    </ul>
                </li>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="#">
							gallery
						</a>
                    <ul class="sub-menu">
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="galleryGrid.html">
									albums grid
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="galleryScroll.html">
									albums scroll
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="gallerySingle.html">
									gallery single
								</a>
                        </li>
                    </ul>
                </li>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="#">
							Other Pages
						</a>
                    <ul class="sub-menu">
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="biography.html">
									Biography
								</a>
                        </li>
                        <!-- Menu Fixed Sub Menu Item -->
                        <li>
                            <a href="video.html">
									Video
								</a>
                        </li>
                    </ul>
                </li>
                <!-- Menu Fixed Item -->
                <li>
                    <a href="contact.html">
							contact
						</a>
                </li>
                <!-- Menu Fixed Item -->
                <!-- <li>
						<a href="shop.html">
							shop
						</a>
					</li> -->
            </ul>
            <!-- Menu Fixed Close Button -->
            <div class="x-filter">
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
    <!-- end menu-fixed-container -->
    <!-- =============== STAR LOGO ================ -->
    <div class="logo-container-top">
        <a href="index.html"><img src="{{site.BASE_PATH}}/assets/img/logo/logo.png" alt="{{site.name}}"></a>
    </div>
    <!-- end logo-container-top -->
    <!-- =============== END LOGO ================ -->
</div>
<!-- end topHeader -->
<!-- =============== END TOP HEADER ================ -->
