<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include file_loarder.html %}
    {% include breadcrumb.html %}
    {% include top_header.html %}
    {% if site.albums %}{% include album_cover.html %}{% endif%}
    {% if site.events %}{% include events_list.html %}{% endif%}
    {% assign bigEvent = site.events|where:'isBig',true|sort: 'date'| reverse | first %}
    {% if bigEvent %}{% include big_event.html event=bigEvent%}{% endif %}
    {% include twitter_section.html %}
    {% if site.data.videos %}{% include video_section.html %}{% endif %}
    {% include gallery_section.html %}
    {% include footer.html %}
</body>
</html>
